.sectionLayout { 
    display: flex;
}

.section {
    padding: .5rem;
    border: 1px solid lightgrey;
}   

.sectionCount {
    font-size: xx-large;
    width: 4rem;
    margin: 1rem 0;
}

.sectionIncrementLabel {
    padding: 0;
    margin: 0;
}

.sectionIncrementInput {
    width: 1rem;
    font-size: large;
    height: min-content;
}

.changeEvery {
    width: 2rem;
}

.titleSection {
    display: flex;
    height: min-content;
    align-items: baseline;
    justify-content: space-between;
}

.help { 
    border: 1px solid gray;
}

.buttonRow {
    display: flex;
    padding: 1rem 0;
    align-items: flex-start;
    justify-content: space-between;
}

.actionButtonRow {
    display: flex;
}

.row {
    display: flex;
    border: rgb(227, 227, 227) 1px solid;
    font-family: monospace;
}    

.row p {
    margin: 0 1rem 0 0;
}